<h1 style="text-align: center">Consulta Médica</h1>
<br>
<p style="text-align: center;">Contamos con los mejores convenios para el cuidado de tu mascota</p>
<br>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
            <!-- ========== Start COL VACÍA ========== -->
            <!-- ========== End COL VACÍA ========== -->
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 col-xxl-2">
            <!-- ========== Start Card ========== -->
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../assets/img/videoconsulta-01.jpg" alt="Imagen videoconsulta" style="width:100%">
                <div class="card-body" style="text-align: center">
                    <h4 class="card-title">Videoconsulta</h4>
                    <img src="" class="img-fluid rounded-top" alt="">
                    <p class="card-text">Agendar videoconsulta veterinaria</p>
                    <br>
                    <a href="https://wa.me/+56944111902?text=Hola, necesito agendar una videoconsulta" class="btn btn-primary" target="_blank">Agendar</a>
                </div>
            </div>  
            <!-- ========== End Card ========== -->
        </div>    
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 col-xxl-2">
            <!-- ========== Start Card ========== -->
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../assets/img/agendarhora-01.jpg" alt="Imagen videoconsulta" style="width:100%">
                <div class="card-body" style="text-align: center">
                    <h4 class="card-title">Agendar hora</h4>
                    <img src="" class="img-fluid rounded-top" alt="">
                    <p class="card-text">Agendar hora en centro médico con convenio o a domicilio</p>
                    <br>
                    <a href="https://wa.me/+56944111902?text=Hola, necesito agendar una hora" class="btn btn-primary" target="_blank">Agendar</a>
                </div>
            </div>  
            <!-- ========== End Card ========== -->
        </div> 
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 col-xxl-2">
            <!-- ========== Start Card ========== -->
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../assets/img/urgencias-01.jpg" alt="Imagen videoconsulta" style="width:100%;">
                <div class="card-body" style="text-align: center">
                    <h4 class="card-title">Urgencias</h4>
                    <img src="" class="img-fluid rounded-top" alt="">
                    <p class="card-text">Información de centros médicos de urgencia abiertos</p>
                    <br>
                    <a href="https://wa.me/+56944111902?text=Hola, estoy en una urgencia" class="btn btn-primary" target="_blank">Urgencia</a>
                </div>
            </div>  
            <!-- ========== End Card ========== -->
        </div> 
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
            <!-- ========== Start COL VACÍA ========== -->
            <!-- ========== End COL VACÍA ========== -->
        </div>
    </div>
</div>
<br>
<br>