<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <img src="../../assets/img/huella128.png" alt="huellafooter">
    <!-- Section: Form -->
    <section class="">
      <form [formGroup]="userForm">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Suscribete y recibe noticias de PetFine</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">

              <input type="email" id="form5Example21" class="form-control" formControlName="email" />
              <label class="form-label" for="form5Example21">Dirección de correo electrónico</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button class="btn btn-outline-light mb-4" (click)="sendSubscribe()">
              Subscribirse
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->
    <br>
    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Para más información sobre nuestros servicios y descuentos exclusivos, subscribase a nuestro boletín de
        noticias.
      </p>
    </section>
    <!-- Section: Text -->
    <br>
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <img src="../../assets/img/direccion3.png" alt="">
          <h5 class="text-uppercase">Dirección</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://goo.gl/maps/ztSJsTHwhEX4kJdi6" class="text-white">Providencia: Av. Providencia 9655</a>
            </li>
            <li>
              <a href="https://goo.gl/maps/HuEuqwZWXfHCS8dd6" class="text-white">La Reina: Avenida Ossa 9998</a>
            </li>
            <li>
              <a href="https://goo.gl/maps/BN1bS6Lsx6FfRtaF7" class="text-white">Recoleta: Av. Recoleta 554</a>
            </li>
            <li>
              <a href="https://goo.gl/maps/hRVLuZmpgVTgysJV8" class="text-white">Santiago Centro: Morandé 55</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <img src="../../assets/img/telefono.png" alt="telefono-icon">
          <h5 class="text-uppercase">Teléfonos</h5>
          <p class="text-white">22-3232333</p>
          <p class="text.white">22-9985566</p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <img src="../../assets/img/mail.png" alt="mail-icon">
          <h5 class="text-uppercase">Contacto</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="mailto:segurospetfine@gmail.com">segurospetfine@gmail.com</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <img src="../../assets/img/socialmedia.png" alt="socialmed-icon">
          <h5 class="text-uppercase">Redes Sociales</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://facebook.com/Seguros-PetFine-105802385524414/" target="_blank"
                class="text-white">Facebook</a>
            </li>
            <li>
              <a href="https://www.instagram.com/segurospetfine/" class="text-white">Instagram</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Petfine© Todos los derechos reservados. 2022: segurospetfine.com
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->