<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
            
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <br>
            <app-logotitulo></app-logotitulo>
            <br>
            <form>
                <fieldset>
                  <h1 style="text-align: center;">Cotizador</h1>
                  <br>
                  <p style="text-align: center;">Para nosotros es muy importante poder entregarte el servicio que más se adapte a tus requerimientos, a continuación escribe tus datos y una ejecutiva se contactará contigo a la brevedad</p>
                  <br>
                  <hr>
                  <div class="mb-3">
                    <label for="TextInput" class="form-label">Número de teléfono</label>
                    <input type="text" id="TextInput" class="form-control" placeholder="Ingresa tu número telefónico">
                  </div>
                  <div class="mb-3">
                    <label for="TextInput" class="form-label">Correo electrónico</label>
                    <input type="text" id="TextInput" class="form-control" placeholder="Ingresa tu número e-mail">
                  </div>
                  <div class="mb-3">
                    <label for="Select" class="form-label">Tipo de cotización</label>
                    <select id="Select" class="form-select">
                      <option>Seguro de mascotas</option>
                        <option>Seguro de mascotas todo riesgo</option>
                        <option>Seguro de mascotas vip</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="FieldsetCheck">
                      <label class="form-check-label" for="FieldsetCheck">
                        Verifico que mis datos son correctos
                      </label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Enviar</button>
                </fieldset>
              </form>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
            
        </div>
            
    </div>
</div>
<br>
<br>