<app-navbar></app-navbar>
<br>
<app-logotitulo></app-logotitulo>
<h1 style="text-align:center ;">Contacto</h1>
<br>
<div class="container">
    <div class="row">
        <p style="text-align: center;">Para nosotros es muy importante saber tus inquietudes, a continuación rellena los campos necesarios para poder ponernos en contacto contigo y aclarar cada duda o requerimiento que tengas</p>
    </div>
</div>

<div class="container">
    <div class="wrap-contact100">
        <div class="row">
            <div class="col-xs-1"> 
                <br>          
                <form class="contact100-form validate-form"><span class="contact100-form-title">Contacta con nosotros</span>
                    <div class="wrap-input100 validate-input" data-validate="Por favor ingresa tu nombre"><input class="form-control input100" type="text" name="name" placeholder="Nombre completo" /><span class="focus-input100"></span></div>
                    <br>
                    <div class="wrap-input100 validate-input" data-validate="Por favor ingresa tu e-mail ej: petfine@petfine.com"><input class="form-control input100" type="text" name="email" placeholder="E-mail" /><span class="focus-input100"></span></div>
                    <br>
                    <div class="wrap-input100 validate-input" data-validate="Por favor ingresa tu teléfono"><input class="form-control input100" type="text" name="phone" placeholder="Teléfono" /><span class="focus-input100"></span></div>
                    <br>
                    <div class="wrap-input100 validate-input" data-validate="Por favor ingresa tu mensaje"><textarea class="form-control input100" name="message" placeholder="Tu mensaje"></textarea><span class="focus-input100"></span></div>
                    <br>
                    <div class="container-contact100-form-btn"><button class="btn btn-primary contact100-form-btn" type="submit"><span>Enviar<i class="fa fa-star fa fa-paper-plane-o m-r-6" aria-hidden="true"></i></span></button></div>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<app-whatsapp></app-whatsapp>
<br>
<br>
<app-footer></app-footer>

