<div class="container">
    <div class="row">
        <div class="col">        
        </div>
        <div class="col" >
            <div  style="text-align: center;">
                <br>
                <img src="https://qrcgcustomers.s3.eu-west-1.amazonaws.com/account19681355/qrcodes/49811130.png?X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAYMOAQO23FRHUYI4Q%2F20220611%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20220611T034411Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Signature=bdd5cd0b8313af12849cf4e53d653c919da9914c7381eb20f2a9074277f84f33" width="100" height="100" alt="qrcode" >
                <h6>Escanea para hablar con nuestros ejecutivos</h6>
                <br>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>