<br>
<div class="container">
  <div class="row" style="text-align: center;">
    <br>
    <h1>Nuestros servicios</h1>
  </div>
  
</div>
<br>
<div class="container-fluid">
  <div class="row" style="text-align: center;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-1 col-xxl-1 ">
      <!-- ========== Start COL VACÍA ========== -->
      <!-- ========== End COL VACÍA ========== -->
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-2 col-xxl-2">
      <div class="card" style="width: 100%; height: 100%;">
        <img src="../../assets/img/consulta-01.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Consultas</h5>
          <p class="card-text">Consultas médicas con especialistas de alto nivel</p>
          <br>
          <a routerLink="/consultas" class="btn btn-primary btn-sm float-right">Más información</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-2 col-xxl-2">
      <div class="card" style="width: 100%; height: 100%;">
        <img src="../../assets/img/terapias-01.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Terapias</h5>
          <p class="card-text">Terapias de rehabilitación para mascotas</p>
          <br>
          <a routerLink="/terapias" class="btn btn-primary btn-sm float-right">Más información</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-2 col-xxl-2">
      <div class="card" style="width: 100%; height: 100%;">
        <img src="../../assets/img/operaciones-01.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Operaciones</h5>
          <p class="card-text">Cobertura para operaciones ambulatorias y complejas</p>
          <br>
          <a routerLink="/operaciones" class="btn btn-primary btn-sm float-right">Más información</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-2 col-xxl-2">
      <div class="card" style="width: 100%; height: 100%;">
        <img src="../../assets/img/medicamentos-01.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Medicamentos</h5>
          <p class="card-text">Cobertura especial en medicamentos y tratamientos</p>
          <br>
          <a href="https://www.pethappy.cl/categorias/67/medicamentos" target="_blank" class="btn btn-primary btn-sm float-right">Más información</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-2 col-xxl-2">
      <div class="card" style="width: 100%; height: 100%;">
        <img src="../../assets/img/examenes-01.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Exámenes</h5>
          <p class="card-text">Exámenes desde costo cero para el cuidado de tu mascota</p>
          <br>
          <a href="https://reservahora.pethappy.cl/#/atencion-veterinaria" target="_blank" class="btn btn-primary btn-sm float-right">Más información</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-1 col-xxl-1">
      <!-- ========== Start COL VACÍA ========== -->
      <!-- ========== End COL VACÍA ========== -->
    </div>
  </div>
</div>
<app-whatsapp></app-whatsapp>