<div class="container">
  <div style="text-align:center ;">
    <h1>Nuestros servicios</h1>
    <br>
  </div>
  <div class="container pb-5">
    <div class="row justify-content-md-center">
      <div class="col-2 col-lg-2">
        <div class="card h-100">
          <img src="../../assets/img/consulta-01.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Consultas</h5>
            <p class="card-text">Consultas médicas con especialistas de alto nivel.</p>
            <a routerLink="/consultas" class="btn btn-primary btn-sm float-right">Más información</a>
          </div>
        </div>
      </div>
      <div class="col-2 col-lg-2">
        <div class="card h-100">
          <img src="../../assets/img/terapias-01.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Terapias</h5>
            <p class="card-text">Terapias de rehabilitación para mascotas.</p>
            <a routerLink="/terapias" class="btn btn-primary btn-sm float-right">Más información</a>
          </div>
        </div>
      </div>
      <div class="col-2 col-lg-2">
        <div class="card h-100">
          <img src="../../assets/img/operaciones-01.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Operaciones</h5>
            <p class="card-text">Cobertura para operaciones de todo tipo.</p>
            <a routerLink="/operaciones" class="btn btn-primary btn-sm float-right">Más información</a>
          </div>
        </div>
      </div>
      <div class="col-2 col-lg-2">
        <div class="card h-100">
          <img src="../../assets/img/medicamentos-01.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Medicamentos</h5>
            <p class="card-text">Cobertura especial en variados medicamentos.</p>
            <a href="https://www.pethappy.cl/categorias/67/medicamentos" target="_blank"
              class="btn btn-primary btn-sm float-right">Más información</a>
          </div>
        </div>
      </div>
      <div class="col-2 col-lg-2">
        <div class="card h-100">
          <img src="../../assets/img/examenes-01.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Exámenes</h5>
            <p class="card-text">Exámenes desde costo cero para tu compañero.</p>
            <a href="https://reservahora.pethappy.cl/#/atencion-veterinaria" target="_blank"
              class="btn btn-primary btn-sm float-right">Más información</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-whatsapp></app-whatsapp>