<div class="container">
  <div style="text-align:center ;">
    <h1>Nuestros servicios</h1>
    <br>
  </div>
  <div class="container pb-5">
    <div class="row justify-content-md-center">
      <div class="col-2 col-lg-2">
        <div class="card h-100">
          <img src="../../assets/img/consulta-01.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Consultas</h5>
            <p class="card-text">Consultas médicas con especialistas de alto nivel</p>
            <p class="card-text"><button type="button" class="btn btn-primary btn-sm">Más información</button></p>
          </div>
        </div>
      </div>
      <div class="col-2 col-lg-2">
        <div class="card h-100">
          <img src="../../assets/img/terapias-01.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Terapias</h5>
            <p class="card-text">Terapias de rehabilitación para mascotas</p>
            <p class="card-text"><button type="button" class="btn btn-primary btn-sm">Más información</button></p>
          </div>
        </div>
      </div>
      <div class="col-2 col-lg-2">
        <div class="card h-100">
          <img src="../../assets/img/operaciones-01.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Operaciones</h5>
            <p class="card-text">Cobertura para operaciones ambulatorias y complejas</p>
            <p class="card-text"><button type="button" class="btn btn-primary btn-sm">Más información</button></p>
          </div>
        </div>
      </div>
      <div class="col-2 col-lg-2">
        <div class="card h-100">
          <img src="../../assets/img/medicamentos-01.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Medicamentos</h5>
            <p class="card-text">Cobertura especial en medicamentos y tratamientos médicos</p>
            <p class="card-text"><button type="button" class="btn btn-primary btn-sm">Más información</button></p>
          </div>
        </div>
      </div>
      <div class="col-2 col-lg-2">
        <div class="card h-100">
          <img src="../../assets/img/examenes-01.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Exámenes</h5>
            <p class="card-text">Exámenes desde costo cero para el cuidado de tu mascota</p>
            <p class="card-text"><button type="button" class="btn btn-primary btn-sm">Más información</button></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-whatsapp></app-whatsapp>