<!-- ========== Start CARDS NUEVAS ========== -->
  <h1 style="text-align: center">Operaciones</h1>
<br>
<p style="text-align: center;">Contamos con los mejores convenios para el cuidado de tu mascota</p>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-xl-4">
            <!-- ========== Start Card ========== -->
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../assets/img/cirugia-01.jpg" alt="Imagen videoconsulta" style="width:100%">
                <div class="card-body" style="text-align: center">
                    <h4 class="card-title">Operaciones de alto riesgo</h4>
                    <br>
                    <p class="card-text"> En PetFine contamos con convenio y con el mejor servicio para tu tranquilidad, te apoyaremos en ese difícil momento de principio a fin. Te ofrecemos una cobertura de operaciones de alto riesgo.</p>
                    <a href="https://wa.me/+56944111902?text=Hola, necesito agendar una videoconsulta" class="btn btn-primary" target="_blank">Saber más</a>
                </div>
            </div>  
            <!-- ========== End Card ========== -->
        </div>    
        <div class="col-lg-4 col-xl-4">
            <!-- ========== Start Card ========== -->
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../assets/img/esteril-01.jpg" alt="Imagen videoconsulta" style="width:100%">
                <div class="card-body" style="text-align: center">
                    <h4 class="card-title">Esterilización</h4>
                    <br>
                    <p class="card-text">Para la tranquilidad tuya y de tu mascota, contamos con la mejor cobertura en esterilización para perros y gatos, de esta forma queremos ayudarte y dar apoyo a quienes reciben un nuevo compañero en la familia.</p>
                    <a href="https://wa.me/+56944111902?text=Hola, necesito agendar una hora" class="btn btn-primary" target="_blank">Saber más</a>
                </div>
            </div>  
            <!-- ========== End Card ========== -->
        </div> 
        <div class="col-lg-4 col-xl-4">
            <!-- ========== Start Card ========== -->
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../assets/img/ambulatorio-01.jpg" alt="Imagen videoconsulta" style="width:100%;">
                <div class="card-body" style="text-align: center">
                    <h4 class="card-title">Ambulatorias</h4>
                    <br>
                    <p class="card-text">Para cirujias y tratamientos ambulatorios, puedes solicitar asistencia y te guiaremos con todos los pasos necesarios para encontrar el centro médico que más te acomode para realizar tratamientos tales como </p>
                    <a href="https://wa.me/+56944111902?text=Hola, estoy en una urgencia" class="btn btn-primary" target="_blank">Saber más</a>
                </div>
            </div>  
            <!-- ========== End Card ========== -->
        </div> 
    </div>
</div>
<br>
<br>
  <!-- ========== End CARDS NUEVAS ========== -->
  <app-whatsapp></app-whatsapp>
