<div class="container py-3">
    <br>
    <div class="container" style="text-align: center;">
        <img src="../../assets/img/petfinelogo-02-01.png" alt="LogoPet">
    </div>
     <br>
    <div class="title h1 text-center">Operaciones</div>
  
  </div>
  
  <div class="container">
    <div class="card float-left">
      <div class="row ">
  
        <div class="col-sm-7">
          <div class="card-block">
            <!--           <h4 class="card-title">Small card</h4> -->
            <h4>Operaciones de alto riesgo</h4>
            <p class="card-text">
                En PetFine contamos con convenio y con el mejor servicio para tu tranquilidad, te apoyaremos en ese difícil momento de principio a fin. Te ofrecemos una cobertura de operaciones de alto riesgo para tu mascota.
            </p>
            <p class="card-text">Si cuentas con nuestro servicio puedes contactarnos desde la sección de urgencias y si aún no contratas, puedes solicitar una cotización.</p>
            <br>
            <a href="https://wa.me/+56944111902?text=Hola, necesito saber sobre operaciones de alto riesgo" target="_blank" class="btn btn-primary btn-sm">Saber más</a>
          </div>
        </div>
  
        <div class="col-sm-5">
          <img class="d-block w-100" src="../../assets/img/cirugia-01.jpg" alt="">
        </div>
      </div>
    </div>

  <div class="container">
    <div class="card float-left">
      <div class="row ">
  
        <div class="col-sm-7">
          <div class="card-block">
            <!--           <h4 class="card-title">Small card</h4> -->
            <h4>Esterilización</h4>
            <p>Para la tranquilidad tuya y de tu mascota, contamos con la mejor cobertura en esterilización para perros y gatos, de esta forma queremos ayudarte y dar apoyo a quienes reciben un nuevo compañero en la familia.</p>
            <a href="https://wa.me/+56944111902?text=Hola, necesito agendar una hora para esterilizar" target="_blank" class="btn btn-primary btn-sm">Saber más</a>
          </div>
        </div>
  
        <div class="col-sm-5">
          <img class="d-block w-100" src="../../assets/img/esteril-01.jpg" alt="">
        </div>
      </div>
    </div>
  
   
      <div class="card float-right">
        <div class="row">
          <div class="col-sm-5">
            <img class="d-block w-100" src="../../assets/img/ambulatorio-01.jpg" alt="">
          </div>
          <div class="col-sm-7">
            <div class="card-block">
              <!--           <h4 class="card-title">Small card</h4> -->
              <h4>Ambulatorias</h4>
              <p>Para cirujias y tratamientos ambulatorios, puedes solicitar asistencia y te guiaremos con todos los pasos necesarios para encontrar el centro médico que más te acomode para realizar tratamientos tales como </p>
              <br>
              <a href="https://wa.me/+56944111902?text=Hola, necesito cirugía ambulatoria" target="_blank" class="btn btn-primary btn-sm float-right">Saber más</a>
            </div>
          </div>
   
        </div>
      </div>
    </div>
   
   <br>
  <br>
  <app-whatsapp></app-whatsapp>
   