<h1 style="text-align: center">Terapias</h1>
<br>
<p style="text-align: center;">Conoce las terapias que ofrecemos para el cuidado de tu mascota</p>
<br>
<!-- ========== Start NUEVO CARD ========== -->
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 col-xxl-2">
            <!-- ========== Start COL VACÍA ========== -->
            <!-- ========== End COL VACÍA ========== -->
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 col-xxl-2">
            <!-- ========== Start Card ========== -->
            <div class="card" style="width: 100%; height: 100%;">
                <img class="card-img-top" src="../../assets/img/psico2-01.jpg" alt="Imagen videoconsulta"
                    style="width:100%">
                <div class="card-body" style="text-align: center">
                    <h4 class="card-title">Psicoterapia para mascotas</h4>
                    <img src="" class="img-fluid rounded-top" alt="">
                    <p class="card-text">Agendar videoconsulta psicoterapéutica</p>
                    <a href="https://wa.me/+56944111902?text=Hola, necesito agendar una videoconsulta Psicoterapia"
                        class="btn btn-primary" target="_blank">Agendar</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 col-xxl-2">
            <!-- ========== Start Card ========== -->
            <div class="card" style="width: 100%; height: 100%;">
                <img class="card-img-top" src="../../assets/img/lindorfo2-01.jpg" alt="Imagen videoconsulta"
                    style="width:100%">
                <div class="card-body" style="text-align: center">
                    <h4 class="card-title">Rehabilitación canina</h4>
                    <img src="" class="img-fluid rounded-top" alt="">
                    <p class="card-text">Agendar visita a domicilio con Sebastián Jiménez</p>
                    <a href="https://wa.me/+56944111902?text=Hola, necesito agendar una hora con Lindorfo"
                        class="btn btn-primary" target="_blank">Agendar</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 col-xxl-2">
            <!-- ========== Start Card ========== -->
            <div class="card" style="width: 100%; height: 100%;">
                <img class="card-img-top" src="../../assets/img/flores2-01.jpg" alt="Imagen videoconsulta"
                    style="width: 100%;">
                <div class="card-body" style="text-align: center">
                    <h4 class="card-title">Terapia Flores de Bach</h4>
                    <img src="" class="img-fluid rounded-top" alt="">
                    <p class="card-text">Reservar hora para terapia floral</p>
                    <br>
                    <a href="https://wa.me/+56944111902?text=Hola, necesito consultar por terapia floral"
                        class="btn btn-primary" target="_blank">Urgencia</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 col-xxl-2">
            <!-- ========== Start Card ========== -->
            <div class="card" style="width: 100%; height: 100%;">
                <img class="card-img-top" src="../../assets/img/gato2-01.jpg" alt="Imagen videoconsulta"
                    style="width:100%;">
                <div class="card-body" style="text-align: center">
                    <h4 class="card-title">Spa para felinos</h4>
                    <img src="" class="img-fluid rounded-top" alt="">
                    <p class="card-text">Agendar hora para Masaje Felino</p>
                    <br>
                    <a href="https://wa.me/+56944111902?text=Hola, Necesito reservar hora en Spa Felino"
                        class="btn btn-primary" target="_blank">Urgencia</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 col-xxl-2">
            <!-- ========== Start COL VACÍA ========== -->
            <!-- ========== End COL VACÍA ========== -->
        </div>
    </div>
</div>
<br>
<br>
<!-- ========== End NUEVO CARD ========== -->