<h1 style="text-align: center">Terapias</h1>
<br>
<p style="text-align: center;">Conoce las terapias que ofrecemos para el cuidado de tu mascota</p>
<br>
<div class="container-fluid">
    <div class="row" style="align-items: center; align-content: center;">
        <div class="col">
            <!-- ========== Start Card ========== -->
            <div class="card" style="width: 300px;">
                <img class="card-img-top" src="../../assets/img/psico.jpg" alt="Psicoterapia" style="width:100%">
                <div class="card-body" style="text-align: center">
                    <h4 class="card-title">Psicoterapia</h4>
                    <img src="" class="img-fluid rounded-top" alt="">
                    <p class="card-text">Agendar videoconsulta psicoterapéutica</p>
                    <a href="https://wa.me/+56944111902?text=Hola, necesito agendar una videoconsulta"
                        class="btn btn-primary" target="_blank">Agendar</a>
                </div>
            </div>
            <!-- ========== End Card ========== -->
        </div>
        <div class="col">
            <!-- ========== Start Card ========== -->
            <div class="card" style="width: 300px;">
                <img class="card-img-top" src="../../assets/img/cesar.jpg" alt="Cesar Millán" style="width:100%">
                <div class="card-body" style="text-align: center">
                    <h4 class="card-title">Rehabilitación Canina</h4>
                    <img src="" class="img-fluid rounded-top" alt="">
                    <p class="card-text">Agendar visita a domicilio con César Millán</p>
                    <a href="https://wa.me/+56944111902?text=Hola, necesito agendar una hora" class="btn btn-primary"
                        target="_blank">Agendar</a>
                </div>
            </div>
            <!-- ========== End Card ========== -->
        </div>
        <div class="col">
            <!-- ========== Start Card ========== -->
            <div class="card" style="width: 300px;">
                <img class="card-img-top" src="../../assets/img/flores.jpg" alt="Flores" style="width:100%">
                <div class="card-body" style="text-align: center">
                    <h4 class="card-title">Terapia Flores de Bach</h4>
                    <img src="" class="img-fluid rounded-top" alt="">
                    <p class="card-text">Reservar hora para terapia floral</p>
                    <a href="https://wa.me/+56944111902?text=Hola, estoy en una urgencia" class="btn btn-primary"
                        target="_blank">Reservar</a>
                </div>
            </div>
            <!-- ========== End Card ========== -->
        </div>
        <div class="col">
            <!-- ========== Start Card ========== -->
            <div class="card" style="width: 300px;">
                <img class="card-img-top" src="../../assets/img/gato.jpg" alt="Masaje" style="width:100%">
                <div class="card-body" style="text-align: center">
                    <h4 class="card-title">Spa Felino</h4>
                    <img src="" class="img-fluid rounded-top" alt="">
                    <p class="card-text">Agendar hora para Masaje Felino</p>
                    <a href="https://wa.me/+56944111902?text=Hola, necesito agendar una videoconsulta"
                        class="btn btn-primary" target="_blank">Agendar</a>
                </div>
            </div>
            <!-- ========== End Card ========== -->
        </div>
    </div>
</div>
<br>
<br>
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Contrata nuestros servicios</h1>
        <p class="col-md-8 fs-4">Si aún no eres cliente, puedes contratar estos y otros servicios adicionales para el
            cuidado de tu mascota.</p>
        <button class="btn btn-primary btn-lg" type="button" routerLink="/contacto">Ponme en contacto</button>
    </div>
</div>